<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>BMW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>BMW</ion-card-title>
      <ion-card-subtitle>Car</ion-card-subtitle>
      <ion-img src="https://cdn.motor1.com/images/mgl/3bNgX/s1/bmw-8.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content>
      BMW AG originally an initialism for Bayerische Motoren Werke in German, or Bavarian Motor Works in English) is a German multinational company which currently produces automobiles and motorcycles, and also produced aircraft engines until 1945.
    </ion-card-content>
  </ion-card>
</ion-content>