<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Audi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/audi-rs7_1.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Audi</ion-card-title>
      <ion-card-subtitle>Car</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Audi AG is a German automobile manufacturer that designs, engineers, produces, markets and distributes luxury vehicles. Audi is a member of the Volkswagen Group and has its roots at Ingolstadt, Bavaria, Germany. Audi-branded vehicles are produced in nine production facilities worldwide.
    </ion-card-content>
  </ion-card>
</ion-content>