<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Please select your car</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>BMW</ion-label>
          <ion-radio (ionSelect)="selectItem($event)" slot="start" value="bmw"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Mercedes</ion-label>
          <ion-radio (ionSelect)="selectItem($event)" slot="start" value="mercedes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Audi</ion-label>
          <ion-radio (ionSelect)="selectItem($event)" slot="start" value="audi"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button [disabled]="selectedItem == ''" expand="block" margin-top margin-horizontal type="submit" fill="outline">Submit</ion-button>
  </form>

</ion-content>
